################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo.Core/bin/Debug/netcoreapp3.1
/Demo.Core/obj
/Demo/.vs/Demo/v16
